html
    head
        link(rel="stylesheet", type="text/css", href="./style.css")
    body
        h1 The grid-row-gap Property:
        div(class='grid-contain')
            div(class='grid-item scrollbar-user')
                <div class="grid-item grid-border-top">
                <h3>user_id:</h3>
            </div>